/* Navbar
================================================================== */
nav a {
  font-size: 1rem;
  transition: 0.3s;
  font-weight: 600;
}

nav input,
nav button {
  background: none;
  border: none;
}

form input::placeholder {
  color: #fff;
}

form input:focus {
  outline: none;
}

.nav-content {
  grid-template-columns: 1fr 5fr 1fr;
}

.navlinks li,
.navlinks-secondary li {
  transition: all 400ms ease;
}

.menu .link-group:hover li a {
  opacity: 0.3;
}

.menu .link-group li a:hover {
  opacity: 1;
}

.menu ul,
.menu form {
  padding: 1rem 0;
}

.menu .navlinks li,
.menu .navlinks-secondary li {
  margin-top: 1rem;
}

.menu > div::-webkit-scrollbar {
  display: none;
}

.social-media li {
  display: inline-block;
  padding: 0 0.5rem;
}

/* Classes for JavaScript */
nav .nav-container {
  transition: opacity 400ms ease, padding 400ms ease;
}

nav .menu-active {
  transform: translateY(0);
  opacity: 1;
}

nav .navbar-active {
  background: var(--primaryFade);
  backdrop-filter: blur(15px);
  padding: 1rem;
  border-bottom: 1px solid var(--primary);
}

@media screen and (max-width: 800px) {
  nav .nav-container-inner {
    display: none;
  }

  nav .nav-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  nav div {
    font-size: 13px;
  }
}
