/* Navbar
================================================================== */
nav a {
  font-size: 1rem;
  transition: 0.3s;
  font-weight: 600;
}

nav input,
nav button {
  background: none;
  border: none;
}

form input::placeholder {
  color: #fff;
}

form input:focus {
  outline: none;
}

.nav-container {
  grid-template-columns: 1fr 5fr 1fr;
}

.navlinks li,
.navlinks-secondary li {
  transition: all 400ms ease;
}

.menu div:hover .navlinks li a,
.menu div:hover .navlinks-secondary li a {
  opacity: 0.3;
}

.menu .navlinks li:hover a:hover,
.menu .navlinks-secondary li:hover a:hover {
  opacity: 1;
}

.social-media svg {
  display: inherit;
}

.menu ul,
.menu form {
  padding: 1rem 0;
}

.menu .navlinks li,
.menu .navlinks-secondary li {
  margin-top: 1rem;
}

.menu > div::-webkit-scrollbar {
  display: none;
}

.menu .social-media {
  padding: 2rem 0;
}

.social-media svg {
  font-size: 1.25rem;
}

.social-media li {
  display: inline-block;
  padding: 0 0.5rem;
}

/* Classes for JavaScript */
nav .menu-open {
  transform: translateY(0);
  opacity: 1;
}

header .navbar-active {
  background: var(--primaryFade);
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  nav .nav-container-inner {
    display: none;
  }

  nav .nav-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  nav {
    font-size: 13px;
  }
}
